.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

p.links {
  margin-top: 10px;
  text-shadow: 1px 1px 2px rgb(139, 172, 241);
}

text.cardheader {
  text-shadow: 1px 1px 2px rgb(32, 55, 105);
}

#example1 {
  box-shadow: 5px 10px;
}

.button1 {
  margin-left: 10px;
  text-indent: 2px;
  background-color:  white;
  color: rgb(63, 87, 139);
  border-radius: 8px;
}

a:hover {
  cursor: pointer;
}